views/html/home/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta link title-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>40-fourty</title>
    <link rel="icon" href="../../../assets/images/logo_small.png" type="image/png"/>
    <link rel="stylesheet" href="../../../assets/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../assets/styles/aos.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"/>
    <link rel="stylesheet" href="../../../assets/styles/style.css"/>
  </head>
  <body id="home">
    <main class="wp" data-page="index">
      <div class="bg"></div>
      <div class="container">
        <section class="banner">
          <div class="title mt-5 mb-5 px-sm-5 px-4 py-sm-3 py-2">
            <h1 class="heading1 text"><span class="cn text-center" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200">羅仕林</span><span class="en text-center" data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200">Eden</span></h1>
            <div class="lines" data-aos="data-aos">
              <div class="line-top"></div>
              <div class="line-bottom"></div>
              <div class="line-left"></div>
              <div class="line-right"></div>
            </div>
          </div>
          <button class="scrollToID" type="button" data-target="#scroll_1"><i class="material-icons">keyboard_arrow_down</i></button>
        </section>
      </div>
      <div id="scroll_1"></div>
      <div class="container-fluid p-0" style="background: rgba(61,62,66,0.95);">
        <section class="self text-light py-5">
          <div class="container">
            <div class="row">
              <div class="contact-info col-lg-6 col-12 my-3" data-aos="fade-right" data-aos-duration="800">
                <div class="section-title">CONTACT</div><img class="rounded float-sm-left mr-2 mb-3" src="../../../upload/f2e/photo/photo.jpg" width="140" alt="..."/>
                <ul class="list-unstyled">
                  <li class="row">
                    <label class="col-auto font-weight-bold">Name</label><span class="col-auto text-light">羅仕林 / Eden</span>
                  </li>
                  <li class="row">
                    <label class="col-auto font-weight-bold">Year</label><span class="col-auto text-light">26</span>
                  </li>
                  <li class="row">
                    <label class="col-auto font-weight-bold">Phone</label><a class="col-auto text-light" href="tel:0910412606">0910-412-606</a>
                  </li>
                  <li class="row">
                    <label class="col-auto font-weight-bold">Email</label><a class="col-auto text-light" href="mailto:a25814740@gmail.com">a25814740@gmail.com</a>
                  </li>
                  <li class="row">
                    <label class="col-auto font-weight-bold">Home</label><span class="col-auto text-light">Taichung, Taiwan</span>
                  </li>
                  <li class="row">
                    <label class="col-auto font-weight-bold">Job</label><span class="col-auto text-light">Web Frontend Developer</span>
                  </li>
                </ul>
              </div>
              <div class="skills col-lg-6 col-12 my-3" data-aos="fade-left" data-aos-duration="800">
                <div class="section-title">SKILLS</div>
                <ul class="list-unstyled">
                  <li class="skill-percentage">HTML / HTML5</li>
                  <li class="skill-percentage">CSS / CSS3 / SASS / SCSS</li>
                  <li class="skill-percentage">jQuery</li>
                  <li class="skill-percentage">Javascript</li>
                  <li class="skill-percentage">AJAX</li>
                  <li class="skill-percentage">Bootstrap3 / Bootstrap4</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="container">
        <section class="banner">
          <div class="title mt-5 mb-5 px-sm-5 px-4 py-sm-3 py-2">
            <h1 class="heading1 text"><span class="cn" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom">羅仕林 經歷</span><span class="en" data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom">Eden's Experience</span></h1>
            <div class="lines" data-aos="data-aos">
              <div class="line-top"></div>
              <div class="line-bottom"></div>
              <div class="line-left"></div>
              <div class="line-right"></div>
            </div>
          </div>
          <button class="scrollToID" type="button" data-target="#scroll_2"><i class="material-icons">keyboard_arrow_down</i></button>
        </section>
      </div>
      <div id="scroll_2"></div>
      <div class="container-fluid" style="background: rgba(255,255,255,0.9);">
        <section class="timeline">
          <div class="timeline-content left" data-aos="data-aos">
            <div class="content">
              <h2>2015/06</h2>
              <p><span class="font-weight-bold">臺中科技大學 </span><span class="font-weight-bold prepare-block">資訊管理系 </span><span>畢業</span></p>
            </div>
          </div>
          <div class="timeline-content right" data-aos="data-aos">
            <div class="content">
              <h2>2015/09</h2>
              <p><span class="font-weight-bold">英創達網路有限公司 </span><span class="prepare-block">前端網頁切版特效師</span></p>
            </div>
          </div>
          <div class="timeline-content left" data-aos="data-aos">
            <div class="content">
              <h2>2018/10</h2>
              <p><span class="font-weight-bold">威德網頁設計 </span><span class="prepare-block">前端網頁切版特效師</span></p>
            </div>
          </div>
          <div class="timeline-content right" data-aos="data-aos">
            <div class="content">
              <h2>2019/05</h2>
              <p><span class="font-weight-bold">申樺有限公司 </span><span class="prepare-block">前端網頁工程師</span></p>
            </div>
          </div>
        </section>
      </div>
      <div class="container">
        <section class="banner">
          <div class="title mt-5 mb-5 px-sm-5 px-4 py-sm-3 py-2">
            <h1 class="heading1 text"><span class="cn" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom">羅仕林 作品集</span><span class="en" data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom">Eden's Portfolio</span></h1>
            <div class="lines" data-aos="data-aos">
              <div class="line-top"></div>
              <div class="line-bottom"></div>
              <div class="line-left"></div>
              <div class="line-right"></div>
            </div>
          </div>
          <button class="scrollToID" type="button" data-target="#scroll_3"><i class="material-icons">keyboard_arrow_down</i></button>
        </section>
      </div>
      <div id="scroll_3"></div>
      <div class="container">   
        <section class="lists">
          <div class="row align-items-stretch">
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo.svg" alt="木頭人"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">木頭人</h5><a class="btn btn-primary mt-2" href="https://chestnutcat.xsrv.jp/download/mtr/demo/site/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo1.png" alt="葡萄王生技股份有限公司"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">葡萄王生技股份有限公司</h5><a class="btn btn-primary mt-2" href="http://html.e000427.youweb.tw/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo3.jpg" alt="南俊國際股份有限公司"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">南俊國際股份有限公司</h5><a class="btn btn-primary mt-2" href="https://www.repongroup.com/tw/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo4.png" alt="育達高職 時尚模特兒科"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">育達高職 時尚模特兒科</h5><a class="btn btn-primary mt-2" href="http://web3.yudah.tp.edu.tw/model" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo4.png" alt="育達高職 表演藝術科"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">育達高職 表演藝術科</h5><a class="btn btn-primary mt-2" href="http://web3.yudah.tp.edu.tw/art" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo4.png" alt="育達高職 餐飲管理科"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">育達高職 餐飲管理科</h5><a class="btn btn-primary mt-2" href="http://web3.yudah.tp.edu.tw/rm" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo2.png" alt="久馨股份有限公司"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">久馨股份有限公司</h5><a class="btn btn-primary mt-2" href="http://www.long-new.com/tw/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo5.png" alt="DCC 藥品商品化中心"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">DCC 藥品商品化中心</h5><a class="btn btn-primary mt-2" href="http://www.biip-dcc.org/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo6.png" alt="大洋製衣股份有限公司"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">大洋製衣股份有限公司</h5><a class="btn btn-primary mt-2" href="http://www.aaady.com.tw/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo7.jpg" alt="晟銘電子科技股份有限公司"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">晟銘電子科技股份有限公司</h5><a class="btn btn-primary mt-2" href="http://www.uneec.com/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo8.jpg" alt="布萊爾專業錄影團隊"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">布萊爾專業錄影團隊</h5><a class="btn btn-primary mt-2" href="http://blairsfilm.com/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo9.png" alt="十八養場"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">十八養場</h5><a class="btn btn-primary mt-2" href="https://www.18ranch.com.tw/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
                        <div class="list-item col-sm-6 col-md-4 mb-4" data-aos="fade-up" data-aos-duration="800">
                          <div class="card">
                            <div class="card-pic p-4 mb-2"><img class="card-img-top" src="../../../upload/f2e/logo/logo10.png" alt="全興國際水產股份有限公司"/></div>
                            <div class="card-body text-center">
                              <h5 class="card-title">全興國際水產股份有限公司</h5><a class="btn btn-primary mt-2" href="http://www.grobest.com/" target="_blank">Website</a>
                            </div>
                          </div>
                        </div>
          </div>
        </section>
        <button class="scrollTop" type="button"><i class="material-icons">keyboard_arrow_up</i></button>
      </div>
    </main>
    <!-- include script-->
    <script src="../../../assets/scripts/jquery.min.js"></script>
    <script src="../../../assets/scripts/popper.min.js"></script>
    <script src="../../../assets/scripts/bootstrap.min.js"></script>
    <script src="../../../assets/scripts/jquery.easing.js"></script>
    <script src="../../../assets/scripts/jquery.easing.compatibility.js"></script>
    <script src="../../../assets/scripts/aos.js"></script>
    <script src="../../../assets/scripts/imgLiquid-min.js"></script>
    <script src="../../../assets/scripts/main-dist.js"></script>
  </body>
</html>

views/pug/home/index.pug
<!DOCTYPE html>
html(lang="en")
    head
        // meta link title
        include ../include/_head-title.pug

    body#home
       

        main.wp(data-page="index")
            .bg
            .container
                section.banner
                    .title.mt-5.mb-5.px-sm-5.px-4.py-sm-3.py-2
                        h1.heading1.text
                            span.cn.text-center(data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200") 羅仕林
                            span.en.text-center(data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200") Eden
                        .lines(data-aos)
                            .line-top
                            .line-bottom
                            .line-left
                            .line-right
                    button.scrollToID(type="button" data-target="#scroll_1")
                        i.material-icons keyboard_arrow_down
            
            
            
            
            
            #scroll_1
            .container-fluid.p-0(style="background: rgba(61,62,66,0.95);")
                section.self.text-light.py-5
                    .container
                        .row
                            .contact-info.col-lg-6.col-12.my-3(data-aos="fade-right" data-aos-duration="800")
                                .section-title CONTACT
                                img.rounded.float-sm-left.mr-2.mb-3(src="../../../upload/f2e/photo/photo.jpg" width="140" alt="...")
                                ul.list-unstyled
                                    li.row
                                        label.col-auto.font-weight-bold Name
                                        span.col-auto.text-light 羅仕林 / Eden
                                    li.row
                                        label.col-auto.font-weight-bold Year
                                        span.col-auto.text-light 26
                                    li.row
                                        label.col-auto.font-weight-bold Phone
                                        a.col-auto.text-light(href="tel:0910412606") 0910-412-606
                                    li.row
                                        label.col-auto.font-weight-bold Email
                                        a.col-auto.text-light(href="mailto:a25814740@gmail.com") a25814740@gmail.com
                                    li.row
                                        label.col-auto.font-weight-bold Home
                                        span.col-auto.text-light Taichung, Taiwan
                                    li.row
                                        label.col-auto.font-weight-bold Job
                                        span.col-auto.text-light Web Frontend Developer
                            .skills.col-lg-6.col-12.my-3(data-aos="fade-left" data-aos-duration="800")
                                .section-title SKILLS
                                ul.list-unstyled
                                    li.skill-percentage HTML / HTML5
                                    li.skill-percentage CSS / CSS3 / SASS / SCSS
                                    li.skill-percentage jQuery
                                    li.skill-percentage Javascript
                                    li.skill-percentage AJAX
                                    li.skill-percentage Bootstrap3 / Bootstrap4
            
            
            
            
            
            
            .container
                section.banner
                    .title.mt-5.mb-5.px-sm-5.px-4.py-sm-3.py-2
                        h1.heading1.text
                            span.cn(data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom") 羅仕林 經歷
                            span.en(data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom") Eden's Experience
                        .lines(data-aos)
                            .line-top
                            .line-bottom
                            .line-left
                            .line-right
                    button.scrollToID(type="button" data-target="#scroll_2")
                        i.material-icons keyboard_arrow_down
                







            #scroll_2
            .container-fluid(style="background: rgba(255,255,255,0.9);")
                section.timeline
                    .timeline-content.left(data-aos)
                        .content
                            h2 2015/06
                            p
                                span.font-weight-bold 臺中科技大學 
                                span.font-weight-bold.prepare-block 資訊管理系 
                                span 畢業
                    .timeline-content.right(data-aos)
                        .content
                            h2 2015/09
                            p
                                span.font-weight-bold 英創達網路有限公司 
                                span.prepare-block 前端網頁切版特效師
                    .timeline-content.left(data-aos)
                        .content
                            h2 2018/10
                            p
                                span.font-weight-bold 威德網頁設計 
                                span.prepare-block 前端網頁切版特效師
                    .timeline-content.right(data-aos)
                        .content
                            h2 2019/05
                            p
                                span.font-weight-bold 申樺有限公司 
                                span.prepare-block 前端網頁工程師


            
            
            .container
                section.banner
                    .title.mt-5.mb-5.px-sm-5.px-4.py-sm-3.py-2
                        h1.heading1.text
                            span.cn(data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom") 羅仕林 作品集
                            span.en(data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200" data-aos-anchor-placement="bottom-bottom") Eden's Portfolio
                        .lines(data-aos)
                            .line-top
                            .line-bottom
                            .line-left
                            .line-right
                    button.scrollToID(type="button" data-target="#scroll_3")
                        i.material-icons keyboard_arrow_down
                
            
            #scroll_3
            .container    
                section.lists
                    .row.align-items-stretch
                        mixin cards(company, src, href)
                            .list-item.col-sm-6.col-md-4.mb-4(data-aos="fade-up" data-aos-duration="800")
                                .card
                                    .card-pic.p-4.mb-2
                                        img.card-img-top(src= src, alt= company)
                                    .card-body.text-center
                                        h5.card-title= company
                                        a.btn.btn-primary.mt-2(href= href, target="_blank") Website

                        +cards('木頭人', '../../../upload/f2e/logo/logo.svg', 'https://chestnutcat.xsrv.jp/download/mtr/demo/site/')
                        +cards('葡萄王生技股份有限公司', '../../../upload/f2e/logo/logo1.png', 'http://html.e000427.youweb.tw/')
                        +cards('南俊國際股份有限公司', '../../../upload/f2e/logo/logo3.jpg', 'https://www.repongroup.com/tw/')
                        +cards('育達高職 時尚模特兒科', '../../../upload/f2e/logo/logo4.png', 'http://web3.yudah.tp.edu.tw/model')
                        +cards('育達高職 表演藝術科', '../../../upload/f2e/logo/logo4.png', 'http://web3.yudah.tp.edu.tw/art')
                        +cards('育達高職 餐飲管理科', '../../../upload/f2e/logo/logo4.png', 'http://web3.yudah.tp.edu.tw/rm')
                        +cards('久馨股份有限公司', '../../../upload/f2e/logo/logo2.png', 'http://www.long-new.com/tw/')
                        +cards('DCC 藥品商品化中心', '../../../upload/f2e/logo/logo5.png', 'http://www.biip-dcc.org/')
                        +cards('大洋製衣股份有限公司', '../../../upload/f2e/logo/logo6.png', 'http://www.aaady.com.tw/')
                        +cards('晟銘電子科技股份有限公司', '../../../upload/f2e/logo/logo7.jpg', 'http://www.uneec.com/')
                        +cards('布萊爾專業錄影團隊', '../../../upload/f2e/logo/logo8.jpg', 'http://blairsfilm.com/')
                        +cards('十八養場', '../../../upload/f2e/logo/logo9.png', 'https://www.18ranch.com.tw/')
                        +cards('全興國際水產股份有限公司', '../../../upload/f2e/logo/logo10.png', 'http://www.grobest.com/')
                button.scrollTop(type="button")
                    i.material-icons keyboard_arrow_up





                                
        // include script
        include ../include/_footer-js.pug
